html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; }

header {
  margin: 30px 0;
  text-align: center; }
  header h1 {
    font-size: 26px;
    font-weight: bold; }

.clock-container {
  width: 60%;
  min-width: 450px;
  padding: 2% 15%;
  margin: 50px auto;
  background: #2a2a2a;
  height: 300px; }
  .clock-container .time-bar {
    position: relative;
    min-width: 105px;
    height: 100px;
    line-height: 100px;
    color: #101510;
    margin-bottom: 2px;
    -webkit-border-top-left-radius: 50px;
    -moz-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px; }
    .clock-container .time-bar span.title {
      font-size: 18px;
      width: 80px;
      display: inline-block;
      text-transform: uppercase;
      position: relative;
      left: -100px; }
    .clock-container .time-bar span.digits {
      display: inline-block;
      font-size: 24px;
      position: relative;
      left: -40px; }
  .clock-container .clock-hours {
    background: #fd1f23;
    background: -webkit-linear-gradient(left, #fd1f23, #fc35ae);
    background: linear-gradient(to right, #fd1f23, #fc35ae); }
    .clock-container .clock-hours .title {
      color: #fd1f23; }
  .clock-container .clock-minutes {
    background: #a2fe36;
    background: -webkit-linear-gradient(left, #a2fe36, #d3fe38);
    background: linear-gradient(to right, #a2fe36, #d3fe38); }
    .clock-container .clock-minutes .title {
      color: #a2fe36; }
  .clock-container .clock-seconds {
    background: #2de5f6;
    background: -webkit-linear-gradient(left, #2de5f6, #2dfbe4);
    background: linear-gradient(to right, #2de5f6, #2dfbe4); }
    .clock-container .clock-seconds .title {
      color: #2de5f6; }
